<center>
<h1>List of all User</h1>

<table border = '1'>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Date of birth</th>
    <th>Gender</th>
    <th>Password</th>
    <th>Update</th>
    <th>Delete</th>
    <th>Show Profile</th>

  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.date_of_birth %></td>
      <td><%= user.gender %></td>
      <td><%= user.password %></td>
      <td><%= link_to 'update', edit_user_path(user) %></td>
      <td><%= link_to 'delete', user, method: :delete %></td>
      <td><%= link_to 'show profile', user_path(user) %></td>
    </tr>
  <% end %>
</table>
